{# {% extends 'base.html.twig' %}

{% block title %}User index{% endblock %} #}

{% block body %}
    <h4>User index</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                {% if user.imageName is not null %}
                    <td>
                        <img alt="Profile picture" class="index-image" src="{{ vich_uploader_asset(user, 'imageFile') }}"> {{ user.username }}
                    </td>
                {% else %}
                    <td>
                        <img alt="Profile picture" class="index-image" src="{{ asset('user/default_user.png') }}"> {{ user.username }}
                    </td>
                {% endif %}
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Create new</a>
{% endblock %}
