{% extends 'base.html.twig' %}

{% block title %} Settings {% endblock %}

{% block header %}
    {% include 'base/header.html.twig' %}
{% endblock %}


{% block main %}
    <main>
        <div class="settings-container">
            <h1 class="settings-title">Settings</h1>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                    <div class="settings-picture">
                        <div class="settings-label label">
                        {{ form_label(form.imageFile) }}
                        </div>
                        <div class="settings-image"> 
                            {{ form_widget(form.imageFile) }}
                        </div>
                    </div>

                    <div class="settings-field">
                        <div class="settings-label label">
                            {{ form_label(form.username) }}
                        </div>
                        {{ form_widget(form.username) }}

                        <div class="settings-label label">
                            {{ form_label(form.email) }}
                        </div>
                        {{ form_widget(form.email) }}
                    </div>

                    {{ form_row(form._token) }}

                    <div class="text-center my-4">
                        <button class="btn btn-dark btn-login"  type="submit">Save changes</button>
                    </div>

                </div>
            </div>

        </div>
    </main>

{% endblock %}
