<header>
	<nav id="admin">
		{% if app.user %}
			{% for role in app.user.roles %}
				{% if role == 'ROLE_ADMIN' %}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>Admin!</strong> You are logged in as an admin.
						<a class="mx-3" href="{{ path('app_admin_admin') }}">Go to admin dashboard</a>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</nav>


	<nav id="navbar-top" class="navbar navbar-expand-lg navbar-light px-3 d-flex justify-content-between">
		<div class="d-flex">
			<a class="navbar-brand" href="/">
				<img id="logo" src="{{ asset('logo-no-background.png') }}" alt="Bytecites!"/>
			</a>
			{% if app.user %}
				<div class="d-flex align-items-center mx-2">
					Hi,
					<span class="user-header"> {{ app.user.username }} </span>
				</div>
			{% endif %}
		</div>

		<div class="d-flex">

			{# Search form #}
			<form method="get" action="{{ path('app_search') }}" class="col-12 col-lg-auto mb-lg-0 me-lg-3 collapse navbar-collapse">
				<input type="search" name="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" required="required">
				<button type="submit" class="btn btn-light"><img src="{{asset('icons/search.png')}}" width="24px"></button>
			</form>

			{% if app.user %}
				<div class="btn-group">
					<button class="btn btn-outline-dark btn-lg dropdown-toggle btn-profile" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{% if app.user.imageName is not null %}
								<img alt="Profile picture" class="index-image" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
						{% else %}
								<img alt="Profile picture" class="index-image" src="{{ asset('user/default_user.png') }}">
						{% endif %}
					</button>
					<div class="dropdown-menu py-0">
						<a class="dropdown-item p-3" href="{{ path('app_user_settings') }}">Settings</a>
						<a class="dropdown-item p-3" href="{{ path('app_logout') }}">Log out</a>
					</div>
				</div>

			{%  else %}
				<a type="button" class="btn btn-dark mx-1 collapse navbar-collapse" href="{{ path('app_register') }}">Sign Up</a>
				<a type="button" class="btn btn-warning mx-1 collapse navbar-collapse" href="{{ path('app_login') }}">Log In</a>
			{% endif %}

		</div>
	</nav>

	<nav id="navbar-below" class="bg-light navbar navbar-expand-lg navbar-light px-3 mb-3">
		<div class="navbar-collapse justify-content-center" id="navbarNavDropdown">
			<ul class="navbar-nav ">
				{{render(controller('App\\Controller\\CategoryController::getCategories'))}}
			</ul>
		</div>
	</nav>
</header>