<header>
	<nav id="navbar-top" class="navbar navbar-expand-lg navbar-light px-3 d-flex justify-content-between">
		<div >
			<a class="navbar-brand" href="/">
				<img id="logo" src="{{ asset('logo-no-background.png') }}" alt="Bytecites!"/>
			</a>
		</div>

		<div class="d-flex">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="searchBar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</ul>
			</button>

			{# Search form #}
			<form method="get" action="{{ path('app_search') }}" class="col-12 col-lg-auto mb-lg-0 me-lg-3 collapse navbar-collapse">
				<input type="search" name="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" required="required">
				<button type="submit" class="btn btn-light"><img src="{{asset('icons/search.png')}}" width="24px"></button>
			</form>

			{% if user is not null %}
				<div class="user-header">
					{{ user.username }}
				</div>

				<a type="button" class="btn btn-warning mx-1 collapse navbar-collapse" href="{{ path('app_logout') }}">Log Out</a>
			{%  else %}
				<a type="button" class="btn btn-dark mx-1 collapse navbar-collapse" href="{{ path('app_register') }}">Sign Up</a>
				<a type="button" class="btn btn-warning mx-1 collapse navbar-collapse" href="{{ path('app_login') }}">Log In</a>
			{% endif %}

		</div>
	</nav>

	<nav id="navbar-below" class="bg-light navbar navbar-expand-lg navbar-light px-3 mb-3">
		<div class="navbar-collapse justify-content-center" id="navbarNavDropdown">
			<ul class="navbar-nav ">
				{% for category in categories %}
					<li class="nav-item">
						<a class="nav-link text-dark mx-5" href="/category/{{ category.id }}">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</header>
