{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block header %}
    {% include 'base/admin.header.html.twig' %}
{% endblock %}

{% block main %}
    <main>
        <section class="d-flex">
            
            <aside id="admin-nav" class="bg-dark">
                <div id="admin-profile">
                    <div id="admin-profile-img">
                        {% if app.user.imageName is not null %}
                            <td>
                                <img alt="Profile picture" class="index-image" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
                            </td>
                        {% else %}
                            <td>
                                <img alt="Profile picture" class="index-image" src="{{ asset('user/default_user.png') }}">
                            </td>
                        {% endif %}
                    </div>
                    <div id="admin-profile-info">
                        <h5>{{ app.user.username }}</h5>
                        <p>Admin</p>
                    </div>
                </div>
        
                <ul class="d-flex flex-column">


                    <a href="{{ path('app_admin_admin') }}"><i class="fi fi-rr-dashboard"></i>Dashboard</a>
                    
                    <hr class="hr">
                    <a href="{{ path('app_admin_admin') }}/user"><i class="fi fi-rr-users"></i>Users</a>
                    <a href="{{ path('app_admin_admin') }}/category"><i class="fi fi-rr-list"></i>Categories</a>
                    <a href="{{ path('app_admin_admin') }}/post"><i class="fi fi-rs-thumbtack"></i>Posts</a>
                    <a href="{{ path('app_admin_admin') }}/comment"><i class="fi fi-rr-comment-alt"></i>Comments</a>
                </ul>
            </aside>

            <div id="admin-content" class="d-flex p-3 flex-column">
                {{ render(controller(controller)) }}
            </div>
        </section>
    </main>
{% endblock %}
