{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block header %}
    {% include 'base/admin.header.html.twig' %}
{% endblock %}

{% block main %}
    <main>
        <section class="d-flex">
            
            <aside id="admin-nav" class="bg-dark">
                <div id="admin-profile">
                    <div id="admin-profile-img">
                        {# <img src="{{ asset('images/profile.png') }}" alt="profile"> #}
                    </div>
                    <div id="admin-profile-info">
                        <h5>{{ app.user.username }}</h5>
                        <p>Admin</p>
                    </div>
                </div>
        
                <ul class="d-flex flex-column">


                    <a href="{{ path('app_admin_admin') }}"><i class="fi fi-rr-dashboard"></i>Dashboard</a>
                    
                    <hr class="hr">
                    <a href="{{ path('app_admin_admin') }}/User"><i class="fi fi-rr-users"></i>Users</a>
                    <a href="{{ path('app_admin_admin') }}/Category"><i class="fi fi-rr-list"></i>Categories</a>
                    <a href="{{ path('app_admin_admin') }}/Post"><i class="fi fi-rs-thumbtack"></i>Posts</a>
                    <a href="{{ path('app_admin_admin') }}/Comment"><i class="fi fi-rr-comment-alt"></i>Comments</a>
                </ul>
            </aside>

            <div id="admin-content" class="p-3">
                {{ render(controller(controller)) }}
            </div>
        </section>
    </main>
{% endblock %}
