{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block header %}
    {% include 'base/header.html.twig' %}
{% endblock %}
{% block main %}
<main>
    <section class="post-details">
        <div class="post-inner">
            <h1>{{ post.title }}</h1>
            <h4 class="description">{{ post.description }}</h4>

            <hr class="hr mb-5"></hr>

            <p>{{ post.content }}</p>
            <p>{{ post.publishedAt ? post.publishedAt|date('Y-m-d') : '' }}</p>
        </div>

        <div class="comment-inner mt-5">
            <h4>Leave a Reply</h4>

            <hr class="hr mb-5"></hr>
            
            {% for comment in post.comments %}
                <div class="d-flex flex-column">
                    <p>{{ comment.content }}</p>
                    <p>{{ comment.createdAt ? comment.createdAt|date('Y-m-d') : '' }}</p>
                </div>
            {% endfor %}

            {{ include('comment/_form.html.twig') }}
        </div>
    </section>

    <a href="{{ path('app_post_index') }}">back to list</a>
    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
    {{ include('post/_delete_form.html.twig') }}
</main>
{% endblock %}

{% block footer %}
    {% include 'base/footer.html.twig' %}
{% endblock %}
